/* NAV HELP*/
#top-help:focus {
    display: block;
    position: fixed;
    left: 0;
    color: var(--txtcolor);
    text-align: left;
    margin-left: 5rem;
    z-index: 100;
}

/* MENU */

header {
    background-color: var(--headerbgcolor);
    min-height: 3.2rem;
    position: fixed;
    width: 100%;
    border-bottom: solid var(--headercolor);
    z-index: 50;
}

#hamb {
    cursor: pointer;
    transition-duration: 0.2s;
    border: none;
    border-radius: 50%;
    display: inline-flex;
    height: 2.8rem;
    width: 2.8rem;
    margin: 0.2rem;
    background-image: url(../images/hamb.webp);
    text-indent: -9999em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    float: right;
}

#hamb[data-hambOn="true"] {
    background-image: url(../images/hamb_on.png);
}

#menu {
    z-index: 100;
    position: fixed;
    top: 3.2rem;
    right: 0;
    width: 10rem;
    transition: .8s ease-in-out;
    border: 2.5px solid var(--headercolor);
    border-right: none;
}

#menu[data-hambOn="false"] {
    z-index: 100;
    transition: .8s ease-in-out;
    transform: translate(11rem);
    position: fixed;
}

#menu ul {
    display: block;
}

#menu li {
    display: block;
    margin: 0;
}

#menu a:focus {
    border: none;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
  }

/* BREADCRUMB */

#breadcrumb {
    margin-top: 3.2rem;
}

/* main {
    margin-left: 0;
}
 */

.immaginiCarosello img {
    height: 400px;
}
footer {
    padding: 0.5em 2%;
}

footer h2 {
    display: none;
}

footer dl {
    padding: 0;
    margin: auto;
}

#orari-museo {
    margin: 0.4em 0;
}
/*INDEX*/

/*////////////////*/
/* TABELLA MOSTRE */
/*////////////////*/

#tab-mostre thead,
#tab-mostre tfoot {
    display: none;
}

#tab-mostre tr,
#tab-mostre tbody th,
#tab-mostre td {
    display: block;
    white-space: normal;
    width: 100%;
    max-width: none;
    box-sizing: border-box;
}

th[data-title]:before,
td[data-title]:before {
    content: attr(data-title) ":\00A0";
    font-weight: bold;
}

#tab-mostre th {
    background-color: var(--headerbgcolor);
    color: var(--txtcolor);
}

#tab-mostre td,
#tab-mostre th {
    border-top: none;
}

#tab-mostre tr:first-child {
    border-top: 1px solid #000;
}

#tab-mostre tr:nth-child(odd),
#tab-mostre tr:nth-child(even) {
    background-color: var(--tablebgcolor);
}

#tab-mostre .mod-mostra,
#tab-mostre .elim-mostra {
    float: left;
    width: 50%;
    height: 2.7em;
}

#tab-mostre .mod-mostra {
    border-right: none;
}