#breadcrumb li {
    flex-shrink: 0;
}

#breadcrumb li[aria-current="page"] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 1;
}


#carosello img {
    height: 200px;
}

#carosello .more {
    bottom: 16%;
    font-size: 0.9em;
    padding: 0.3em;
    left: 34.5%;
    right: 34.5%;
}

ol.puntiniCarosello {
    bottom: 0.4em;
}

#caroselloIndietro,
#caroselloAvanti {
    font-size: 0.7em;
    height: 2.4em;
    width: 2.4em;
    border-radius: 0px;
}

#caroselloAvanti {
    border-radius: 0.1em 0.4em 0.4em 0.1em;
}

#caroselloIndietro {
    border-radius: 0.4em 0.1em 0.1em 0.4em;
}

@media (max-width: 500px) {
    #carosello img {
        height: 150px;
    }

    #carosello .more {
        font-size: 0.8em;
        left: 30%;
        right: 30%;
    }

    ol.puntiniCarosello {
        bottom: 0.2em;
    }

    .util-btn {
        display: block;
        width: 65%;
        text-align: center;
        min-width: 10em;
        margin: auto;
    }

    .contenitoreCompilazione,
    #contenitoreRecensione {
        width: 75%;
        padding: 1em;
        min-width: 15em;
    }
}

.infoMostra>img {
    max-width: 100%;
    margin-bottom: 0;
}

.infoMostra>p {
    margin: 1em 0;
}

@media (max-width: 600px) {
    #tab-mostre caption {
        margin: 0.5em 0;
    }
}

@media (max-width: 336px) {
    #primoContenuto.admin {
        margin: 0 auto;
    }

    #tab-mostre tr {
        max-width: 94%;
    }
}

@media (max-width: 700px) {
    #dati-utente {
        background-image: none;
        width: 100%;
    }

    #dati-utente dt {
        float: none;
        width: 80%;
    }

    #dati-utente dd {
        margin-left: 1em;
        width: 80%;
    }
}

@media (max-width: 400px) {
    #dati-utente dt {
        width: 90%;
    }

    #dati-utente dd {
        width: 90%;
    }

    #dati-utente {
        margin: 0.2em 0;
    }
}

#virtualTour-mappa li {
    border-width: 1px;
}

#virtualTour-mappa ol {
    border-width: 4px;
}

#virtualTour-elenco-sale dd p {
    margin: 0 5% 0.625rem;
}

@media (max-width: 400px) {
    #orari-museo td {
        min-width: 6rem;
    }
}

.dettaglioSala {
    margin: 2% 0;
}

.error-page {
    grid-template-columns: 2fr 1fr;
}

.error-descr {
    margin: 1em 0;
}

@media (max-width: 600px) {
    .error-page {
        display: flex;
        flex-direction: column;
    }

    .error-descr {
        margin: 0;
    }

    .error-img {
        max-width: 120px;
    }
}